<% for(var i = 0; i < guests.length; i++) { %>
    <tr>
        <td><%= i + 1 %></td>
        <td><%= guests[i].name %></td>
        <td><%= guests[i].email %></td>
        <td><%= guests[i].gender %></td>
        <td><%= guests[i].status %></td>
        <td>
            <a href="/update-guest?id=<%= guests[i]._id%>" class="btn border-shadow update">
                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
            </a>
            <a class="btn border-shadow delete" data-id=<%= guests[i]._id%> >
                <span class="text-gradient"><i class="fas fa-times"></i></span>
            </a>
        </td>
    </tr>
<% } %>